---
layout: default
---

<div class="home">

  <h1 class="page-heading">About Me</h1>
  <div id="Picture">
    <p>
      <img src="images/aboutme/pratiksatam.jpg" width="192">
    </p>
    <p>
      I am an Assistant Professor in the 
      <a href="https://sie.engineering.arizona.edu/">Department of Systems and Industrial Engineering</a>
      at
      <a href="http://www.arizona.edu/">The University of Arizona</a>
      , where I perform research in Cybersecurity with a focus on Network Security, Computer Security, Cyber Physical Systems Security, Internet of Things (IoT) Security.
    </p>
    <p>
      I am actively looking for Ph.D. students for joining my research group. If intrested please send me an <a href="mailto: pratiksatam@arizona.edu"> email </a> with your resume, research intrests, and recent publications.
    </p>
  </div>

  <div id="Education">
    <h2>Education</h2>
    <ul>
      <li>
	<strong>Ph.D.</strong>
	Electrical And Computer Engineering,
	<a href="http://www.arizona.edu/">The University of Arizona</a>
	, 2019.
	<a href="pdfs/pratiksatam_phd.pdf" download="phd_dissertation_pratiksatam"> Ph.D. Dissertation</a>
      </li>
      <li>
	<strong>M.S.</strong>
	Electrical And Computer Engineering,
	<a href="http://www.arizona.edu/">The University of Arizona</a>
	, 2015.
	<a href="pdfs/pratiksatam_ms.pdf" download="ms_thesis_pratiksatam"> M.S. Thesis</a>
      </li>
      <li>
	<strong>B.E.</strong>
	Electronics and Telecommunication Engineering,
	<a href="http://mu.ac.in/">Mumbai University</a>
	, 2013.
      </li>
    </ul>
  </div>
  <div id="Employment">
    <h2>Employment</h2>
    <ul>
       <li>
	<strong>University of Arizona (Aug 2022 - Present)</strong>
	Assistant Professor
      </li>
      <li>
	<strong>University of Arizona (2019-Aug 2022)</strong>
	Research Assistant Professor
      </li>
      <li>
	<strong>University of Arizona (2014-2019)</strong>
	Graduate Research Assitant
      </li>
    </ul>
  </div>
  <div id="Awards">
    <h2>Awards</h2>
      <ul>
	<li>
	  <strong>Best Poster Award (2016)</strong>
	  CAC Conference, Tucson, Az
	</li>
	<li>
	  <strong>Ratan Tata Scholarship for meritorious engineering students (2009-2010)</strong>
	  Mumbai, India
	</li>
      </ul>
  </div>
  
</div>
